fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
celery
redis
chromadb
sentence-transformers
langchain
langchain-community
ollama
pydub
python-dotenv
httpx
email-validator
openai-whisper